body {
	background: #fff;
}
* {
	margin: 0;
	padding: 0;
	font-family: 'Roboto', sans-serif;
}

.iphone-x {
	margin-top: 20px;
}

.iphone-x .screen {
	width: 42%;
	height: 625px;
	margin: 0 auto;
	border: 10px solid #000;
	min-width: 310px;
	max-width: 310px;
	background: #191A1D;
	border-radius: 44px;
	-webkit-box-shadow: 0 0 20px rgba(0,0,0,0.9);
	        box-shadow: 0 0 20px rgba(0,0,0,0.9);
}

.screen .notch {
	width: 159px;
	height: 30px;
	margin: 0px auto;
	background: #000;
	border-bottom-right-radius: 15px;
	border-bottom-left-radius: 15px;
} 

.sound {
	top: 10px;
	left: 54px;
	width: 40px;
	height: 6px;
	position: relative;
	background: #222;
	border-radius: 10px;
}
.camera {
	top: 2px;
	left: 110px;
	width: 10px;
	height: 10px;
	position: relative;
	background: #222;
	border-radius: 100px;
}

.time {
	color: #fff;
	width: 60px;
	font-size: 10px;
	margin-top: -22px;
	background: transparent;
	margin-left: 27px;
}

.fa-battery-three-quarters {
	top: -14px;
	left: 256px;
	color: #fff;
	position: relative;
	background: transparent;
}

.top-nav {
	width: 100%;
	height: 40px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	background: transparent;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	    -ms-flex-direction: row;
	        flex-direction: row;
	-ms-flex-pack: distribute;
	    justify-content: space-around;
}

.top-nav img{
	height: 25px;
	background: transparent;
	text-align: center;
}
li {
	list-style: none;
	background: transparent;
}

.top-nav .fa-bell  {
	color: #ddd;
	width: 33px;
	font-size: 18px;
	background: transparent;
}

.top-nav .profile{
	width: 30px;
	height: 25px;
	border: none;
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	border-radius: 6px;
}

/* =====SEARCH==== */
.search {
	text-align: center;
	background: transparent;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}
.search input {
	color: #fff;
	width: 85%;
	margin: 10px auto;
	border: 0;
	outline: none;
	padding: 7px 13px;
	font-size: 13px;
	text-align: left;
	background: #333;
	border-radius: 7px;
}

/* PICKED PENS */

.main-container {
	width: 100%;
	height: 67.3%;
	margin: 0 auto;
	background: #191A1D;
	overflow: scroll;
  overflow-x: hidden;
}

.main-container .title h4 {
	color: deepskyblue;
	font-size: 20px;
	background: transparent;
	margin-left: 1px;
	font-weight: 300;
	letter-spacing: 3px;
}

.title {
	width: 95%;
	margin: 10px auto;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	background: transparent;
	border-bottom: 4px solid deepskyblue;
	padding-bottom: 5px;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	    -ms-flex-direction: row;
	        flex-direction: row;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
}
.title a {
	color: deepskyblue;
	font-size: 13px;
	margin-top: 7px;
	background: transparent;
	font-weight: 300;
	margin-right: 1px;
	letter-spacing: 1px;
	text-decoration: none;
}
::-webkit-scrollbar {
    width: 0px;  
    background: transparent;  
}

.picked-pens {
	display: flex;
	margin-top: 10px;
	background: #191A1D;

}

.daily_pen {
	width: 95%;
	height: 250px;
	margin: 8px auto;
	background: #111;
	border-radius: 14px;
	-webkit-box-shadow: 0 2px 10px #000;
	        box-shadow: 0 2px 10px #000;
}


.daily_pen:hover .hover {
	visibility: visible;
}
.hover {
	top: -141px;
	width: 100%;
	height: 140px;
	position: relative;
	font-size: 13px;
	text-align: center;
	visibility: hidden;
	background: rgba(50,51,59,0.70);
	border-bottom: 2px solid deepskyblue;
	border-top-left-radius: 14px;
	border-top-right-radius: 14px;	
}
.hover p {
	top: 20px;
	color: #fff;
	width: 95%;
	margin: auto;
	position: relative;	
	text-align: left;
}
.hover a {
	top: 95px;
	color: #fff;
	padding: 5px;
	position: relative;
	background: #000;
	border-radius: 5px;
}
.hover a:hover {
	background: #222;
}
.hover a i {
	background: transparent;
}
.detail {
	width: 100%;
	height: 110px;
	bottom: -140px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	position: relative;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	background: #32333B;
	-webkit-box-align: start;
	    -ms-flex-align: start;
	        align-items: flex-start;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	    -ms-flex-direction: row;
	        flex-direction: row;
	border-bottom-left-radius: 8px;
	border-bottom-right-radius: 8px;
}
.left-img {
	background: transparent;
}
.left-img img {
	-webkit-box-flex: 0;
	    -ms-flex: 0;
	        flex: 0;
	height: 50px;
	margin-top: 10px;
	margin-left: 10px;
	border-radius: 5px;
}

.daily_pen h2 {
	-webkit-box-flex: 1;
	    -ms-flex: 1;
	        flex: 1; 
	color: #fff;
	width: 100%;
	font-size: 18px;
	margin-top: 9px;
	margin-left: 10px;
	background: transparent;
}
.detail p {
	-webkit-box-flex: 2;
	    -ms-flex: 2;
	        flex: 2;
	width: 100%;
	color: #999;
	background: transparent;
	margin-top: 30px;
	margin-right: 100px;
	margin-left: -90px;
}

.social-icons {
	top: 108px;
	width: 92%;
	height: 30px;
	margin: 0 auto;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	position: relative;
	background: #32333B;
	border-top: .5px solid #555;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	    -ms-flex-direction: row;
	        flex-direction: row;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	border-bottom-left-radius: 8px;
	border-bottom-right-radius: 8px;
}
.social-icons a{
	color: #A6A9B0;
	margin: 0px;
	font-size: 15px;
	background: transparent;
	text-decoration: none;
}

.social-icons i {
	width: 17px;
	height: 12px;
	background: transparent;
	padding-right:8px;
}

.liked {
	color: #fa3380;
}

/* PENS IMAGES */
.one {
	background-image: url('https://static1.squarespace.com/static/585a4892bebafba69928fcd7/585a961b8419c213fafdbd9b/585d0afc1b631b5215d731b0/1531074470939/Dot+Release.gif?format=1000w');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}
.two {
	background-image:url('http://www.hospitalmedicine2014.org/file/2017/12/better_svg_animations.jpg');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}
.three {
	background-image:url('https://d33wubrfki0l68.cloudfront.net/706db41e97047555c8171368213c6051c27a52c5/b25ad/images/svgnow.png');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}
.four {
	background-image:url('https://www.flashuser.net/wp-content/uploads/2013/10/login-form-codepen.jpg');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}
.five {
	background-color: rgb(51, 51, 51);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}
/* PICKED PENS END */

/* BOTTOM NAV  */

.bottom-nav {
	width: 100%;
	height: 77px;
	bottom: -1px;
	z-index: 100;
	position: relative;
	background: #191A1D;
	border-bottom-left-radius: 30px;
	border-bottom-right-radius: 30px;
}

ul {
	width: 100%;
	height: 77px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	position: relative;
	background: #000;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	    -ms-flex-direction: row;
	        flex-direction: row;
	-ms-flex-pack: distribute;
	    justify-content: space-around;
	border-bottom-left-radius: 30px;
	border-bottom-right-radius: 30px;
}

ul li {
	color: #fff;
	font-size: 20px;
}

li i {
	background: transparent;
}

.create-icon {
	color: #fff;
	font-size: 50px;
}

.projects-icon {
	color: yellow;
}

.pens-icon {
	color: deepskyblue;
}

.post-icon {
	color: lightgreen;
}

.collections-icon {
	color: violet;
}



/*  FOLLOW || DO NOT INCLUDE*/
.Follow {	  
	width: 50px;
	height: 50px;
	bottom: 9px;
	right: 20px;
	display:block;
	position:fixed;
	border-radius:50%;
	z-index:999;
	-webkit-animation:  rotation 10s infinite linear;
	        animation:  rotation 10s infinite linear;
	}

@-webkit-keyframes rotation {
		from {
				-webkit-transform: rotate(0deg);
		}
		to {
				-webkit-transform: rotate(359deg);
		}
}

